html
{
    font-family: sans-serif;
    line-height: 1.15;
}

body
{
    background: #F9FBE7;
    color: #212121;
    margin: 0;
}

a:active,a:hover
{
    outline-width: 0;
}

button,select
{
    margin: 0;
    font: 100%/1.15 sans-serif;
}

.grid
{
    margin: 3em;
    min-height: 276px;
}

.grid table
{
    border-collapse: collapse;
    border: solid 3px #AEEA00;
    background: #F0F4C3;
}

.grid td
{
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: solid 2px #F9FBE7;
    cursor: default;
}

.grid.p0 td.active
{
    box-shadow: inset 0 0 0 2px #FCE4EC;
}

.grid.p1 td.active
{
    box-shadow: inset 0 0 0 2px #E0F7FA;
}

.grid td.c_1
{
    background: #E91E63;
}

.grid td.c_2
{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOco77hPwAFTgJ0YABB+AAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 24px 24px;
}

.grid td.c_3
{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mM8N/nGfwAHqgM69KZzsAAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 20px 20px;
}

.grid td.c_4
{
    background: #827717;
    box-shadow: inset 0 0 0 1px #E6EE9C;
}

.grid td.c_5
{
    background: #00BCD4;
}

.grid td.c_6
{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkmNbxHwAD2wIfqFBsewAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 24px 24px;
}

.grid td.c_7
{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNsOH3kPwAG8gMQE6hCawAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 20px 20px;
}

.grid.p0 td.c_1,.grid.p1 td.c_5
{
    cursor: pointer;
}

.grid.p1 td.c_1,.grid.p0 td.c_5
{
    cursor: not-allowed;
}

.grid.p0 td.c_2,.grid.p1 td.c_6
{
    cursor: cell;
}

.grid.p0 td.c_3,.grid.p1 td.c_7
{
    cursor: crosshair;
}

.grid.p0 td.c_1:hover,.grid.p0 td.c_2:hover,.grid.p0 td.c_3:hover,.grid.p1 td.c_5:hover,.grid.p1 td.c_6:hover,.grid.p1 td.c_7:hover
{
    opacity: .4;
}

.info table
{
    margin: 3em;
    width: 274px;
}

.info th,.info td
{
    text-align: left;
    border: solid 1px #fff;
    min-width: 50px;
}

.info td.score
{
    text-align: center;
    font-weight: bold;
}

.info td.score.blue
{
    background: #00BCD4;
    color: #E0F7FA;
}

.info td.score.red
{
    background: #E91E63;
    color: #FCE4EC;
}

.info td.endgame
{
    animation: blink 1s ease-in-out infinite alternate;
    background: #ff0;
}

.info td.rev
{
    font: xx-small monospace;
}

.info td.online
{
    color: #999;
}

.info td.offline
{
    color: #00A200;
}

@keyframes blink {
    50%
    {
        border-color: purple;
        background: #ff4500;
    }
}

.menu
{
    display: none;
    position: fixed;
    border: 1px solid #b2b2b2;
    width: 150px;
    background: #f9f9f9;
    box-shadow: 3px 3px 2px #e9e9e9;
    border-radius: 4px;
}

.menu span
{
    margin: 8px;
    font-weight: 700;
    cursor: default;
}

.menu .items
{
    list-style: none;
    margin: 0;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    color: #333;
}

.menu .items li
{
    padding: 3px;
    padding-left: 3px;
    cursor: pointer;
}

.menu .items li:hover
{
    color: #fff;
    background: #284570;
    border-radius: 2px;
}
